body {
  margin: 0;
}
nav {
  margin-top: 20px;
  margin-bottom: 20px;
}
.navbar ul li {
  display: inline;
  float: right;
}
#navlinks, #logo {
  display: inline;
}
#logo {
  margin-left: 20px;
}
#navlinks li {
  padding-left: 20px;
  padding-right: 20px;
}
h1 {
  margin: 20px;
}
